body {
    background-color: #1e0f2f;
    color: #fff;
    font-family: 'Comic Sans MS', cursive;
    text-align: center;
  }
  
  h1 {
   color: #FFF;
    -webkit-text-stroke-width: 4px;
    -webkit-text-stroke-color: #8958FF;
    font-family: "Jolly Lodger";
    font-size: 96px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  
  .jogo-memoria {
    width: 600px;
    margin: 40px auto;
    display: grid;
    grid-template-columns: 200px 200px 200px 200px 200px 200px;
    grid-gap: 15px;
    justify-content: center;
  }
  
  .img {
    background-color: #FFE3BD;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    transition: transform 0.3s;
  
  }
  button{
    background-color: #FFE3BD;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Jolly Lodger";
    font-size: 42px ;
    cursor: pointer;
    border-radius: 10px;
    width: 200px;
    height: 200px;

  }
 button:hover{
    transform: scale(1.05);
    background-color: #8958FF;
    border-radius: 12px;
    color: white;
  }
  
  .card img {
    width: 100%;
    height: auto;
  }

  .alerta{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}
.alerta-content{
  background-color: #4a2f6a; 
    padding: 30px;
    border-radius: 15px;
    border: 2px solid #c9a0ff;
    width: 90%;
    max-width: 500px;
    text-align: center;
    position: relative;
    box-shadow: 0 5px 15px rgba(0,0,0,0.5);
}
.alerta-content p{
  color: #FFF;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%; /* 32px */
}
.alerta-content h2{
  font-family: "Jolly Lodger";
  font-size: 3em;
  color: #c9a0ff;
  margin-top: 0;
}
.alerta-content button{
  background-color: #8958FF;
  width: 100%;
  height: 70px;
  border: 1px solid;
  border-color: #956af8;
  border-radius: 10px;
  font-family: "Jolly Lodger";
  font-size: 32px;
}
.alerta-content button:hover{
  transform: scale(1.05);
    background-color: #a885fa;
    border-radius: 12px;

}
.hide{
  display: none;
}
  